#hero {
  position: relative;

  z-index: 0;
  height: 100%;
  background: rgb(24,70,121);
  background: linear-gradient(130deg, rgba(24,70,121,1) 10%, rgba(51,33,126,1) 26%, rgba(27,32,127,1) 59%, rgba(16,16,16,1) 100%); 
}

.hero-wrapper {
  height: 100vh;
  width: 100%;
  padding: 0 25px;
}

nav {
  position: absolute;

  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
  height: 100px;
}

.logo img{
  height: 80px;
  padding: 15px 10px;
}

ul {
  padding: 24px;
  display: flex;
  
}
li {
  padding: 0 30px;
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 28px;
}

.header {
  display: flex;
  align-items: center;
  height: 100%;
}

.robot-wrapper {
  position: absolute;
  top: 100px;
  right: 0;
  display: flex;
  justify-content: end;
  height: 700px;
  transform: translate(50px, 0);
}

.header-content {
  display: flex;
  padding: 0 0 0 50px;
  align-content: center;
  flex-direction: column;
  font-size: 80px;
  font-weight: 700;
}

.first-line img{
  height: 76px;
  vertical-align: sub;
}

.header-content p{
  text-align: left;
  font-size: 24px;
  font-weight: 300;
}

.button-row {
  display: flex;
  gap: 20px;
  padding: 30px 0 0 0;
}
.button-row button {
  border-radius: 15px;
  border: 0;
  padding: 10px 25px;
  font-size: 28px;
  font-weight: 600;
}
.learn-more {
  background: rgb(255,255,255);
  background: linear-gradient(130deg, rgba(255,255,255,1) 0%, rgba(156,157,253,1) 100%);
  color: #33217E;
}

.event-details {
  color: #ffffff;
  background: rgb(156,157,253);
  background: linear-gradient(130deg, rgba(156,157,253,1) 0%, rgba(51,33,126,1) 100%);
}


.content {
  position: relative;
  z-index: 1;
  padding: 50px 25px;
  background-color: #33217e;
  background: 
    linear-gradient(
      #575294 0px,
      #4c4287 50px,
      #463981 100px,
      #2e206b 30%,
      #2e206b 100%
    );
  box-shadow: 0px -10px 40px rgba(0, 0, 0, 0.5); /* Top shadow */

}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-logo {
  padding: 0 0 20px 0;
  width: 125px;
  height: auto;
}

.header-text h2 {
  font-size: 48px;
  text-align: center;
}

.sky-color{
  color: #9cc1fc;
}

.header-card-wrapper {
  display: flex;
  margin-top: 50px;
}

.header-card {
  width: 33%;
  margin: 30px;
  padding: 20px 45px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;

}

.header-card::before {
  content: "";
  position: absolute;
  inset: -2px; /* Slightly larger than the element */
  border-radius: inherit;
  background-image: 
    linear-gradient(
      to right, 
      rgba(255,255,255,1) 0%, 
      rgb(136, 137, 249) 51%, 
      rgba(255,255,255,1) 100%);
  background-size: 200% auto;
  z-index: -2; /* Places it behind the main button */
}

.header-card::after {
  content: "";
  position: absolute;
  inset: 2px; /* Shrink to create a border effect */
  background:
    linear-gradient(
      135deg,
      #48387f,
      #33388a
    );
    border-radius: inherit;
  z-index: -1; /* Sits between the border and the content */
}

.header-card img {
  width: 50px;
}

.header-card h4 {
  font-size: 25px;
  margin: 30px 0;
}


.video {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
  
}

.video .iframe-wrapper {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  height: 70%;
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  background: linear-gradient(90deg, #ffffff, #818aff); /* Gradient border */
}

.video iframe {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.box-container {
  display: flex;
  justify-content: end;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  overflow: hidden; /* Prevents border expansion from affecting layout */
}

.green-box {
  height: 100%;
  width: 100%;
  background:
    linear-gradient(
      to bottom,
      rgba(0, 255, 225, 0.15),
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to left,
      rgba(0, 255, 225, 0.15),
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0)
    );
}

.blue-box {
  height: 100%;
  width: 100%;
  background:
    linear-gradient(
      to bottom,
      rgba(57, 94, 197, 0.2),
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to left,
      rgba(57, 94, 197, 0.2),
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to right,
      rgba(57, 94, 197, 0.2),
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to top,
      rgba(57, 94, 197, 0.2),
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0)
    );
}

.one {
  position: absolute;
  right: 0;
  top: 50px;

}

.two {
  position: absolute;
  right: 100px  ;
  bottom: 150px;
}

.three {
  position: absolute;
  left: 0;
  bottom: 150px;
}

.four {
  position: absolute;
  left: 150px;
  bottom: 0;
}

.footer {
  width: 100vw;
  padding: 20px;
  background: linear-gradient(90deg, #ffffff, #818aff); /* Gradient border */
  color: rgb(21, 17, 56);
  font-weight: 500;
}